<h2>Templete: <small>Dinamicos</small></h2>

<hr>

<form (ngSubmit)="guardar()" #miFormulario="ngForm">
    <!-- nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" [ngModel]="persona.nombre" name="nombre" placeholder="Nombre de la persona" required  >
            <span  *ngIf="miFormulario.controls['nombre'].errors" class="form-text text-danger">este campo es obligatorio</span>
        </div>
    </div>
    <!-- favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
           <div class="input-group">
               <input class="form-control" [(ngModel)]="nuevojuegot" name="nuevojuegot" type="text">
               <button class="btn btn-outline-primary"  (click)="agregar()" type="button">Agregar</button>
           </div>
        </div>
    </div>
    <!-- lista de favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Lista de favoritos</label>
        <div class="col-sm-9 mb-2">
            <div class="input-group" *ngFor="let favorito of persona.favoritos; let i =index" > 
                <input type="text" [(ngModel)]="favorito.nombre" name="favorito_{{i}}" class="form-control" >
                <button class="btn btn-outline-danger" (click)="eliminar(i)" type="button">eliminar</button>
            </div>
            
        </div>
    </div>

    <div class=" row">
        <div class="col">
            <button type="button" class="btn btn-primary float-end" [disabled]="miFormulario.invalid" (click)="guardar()">Guardar</button>
        </div>
    </div>
</form>
<span>Persona</span>
<pre>
    {{persona|json}}
</pre>